img{
  width: 70%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.note{
 border: 3px solid red; 
 color: red;
 text-align: center;
}
.orange{
 color:#FF6600; 
}
.magenta{
 color: #FF00FF; 
}
.cyan{
 color: #00FFBB; 
}
